<head>
{% extends "layout.html" %}
{% block content %}
<script src = "https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
</head>
<body>
<form action="/api/v1/trees/chart" method="post">
<canvas id="chart" width="400" height="400"></canvas>
<script>

    const ctx = document.getElementById('chart');
    const xlabels = [];
    const ydata =

    chartIt();

    async function chartIt() {
        await getData();
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: xlabels,
                datasets: [{
                    label: 'Data From Some Trees',
                    data: [ydata],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        stacked: true
                    }
                }
            }
        });
    }

    async function getData() {
        const response = await fetch('/api/v1/trees');
        const treeData = await response.text();

        console.log(treeData)

        const table = treeData.split('},');
        table.forEach(row => {
            const columns = row.split(',').slice('1');
            const treeNumber = columns[0];
            xlabels.push(treeNumber);
            const girth = columns[1];
            ydata.push(girth);
            const height = columns[2];
            ydata.push(height);
            const volume = columns[3];
            ydata.push(volume);
            console.log(treeNumber, girth, height, volume);
        })
    }
</script>

</form>
</body>
{% endblock %}