{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{tree.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="treeNum">Tree Number</label>
            <input id="treeNum" type="text" class="form-control" placeholder="Tree Number" name="treeNumber" value="{{trees.treeNum}}">
        </div>
        <div class="col">
            <label for="Girth_in">Girth (Inches)</label>
            <input id="Girth_in" type="text" class="form-control" placeholder="Girth (Inches)"
                   name="girth" value="{{trees.girth}}">
        </div>
        <div class="col">
            <label for="height">Height (Feet)</label>
            <input id="height" type="text" class="form-control" placeholder="Height (Feet)" name="height" value="{{trees.height}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="volume">Volume (Feet^3)</label>
            <input id="volume" type="text" class="form-control" placeholder="Volume" name="volume" value="{{trees.volume}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}